.searchBar {
    margin: auto;
    text-align: center;
}

.searchBar>h1 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#city {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    width: 30%;
    border-radius: 8px;
}

.searchBar>button {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.container {
    width: 95%;
    display: flex;
    margin: 20px auto;
}

.leftSide {
    width: 78%;
    margin-right: 1%;
}

.rightSideDiv {
    width: 20%;
    height: 300px;

}

.oneDayDiv {
    width: 100%;
    height: 200px;
    margin: 10px auto;
    text-align: center;
    display: flex;
}

.weatherDiv {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.cityNameDiv {
    width: 25%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: rgba(179, 250, 255, 0.623);
    border-radius: 8px;
    margin-right: 10px;
}

.cityNameDiv>p,
h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.cityNameDiv>p {
    margin-top: 0;
    font-size: 3em;
    color: rgb(187, 44, 0);
    font-weight: bolder;
}

.cityNameDiv>div {
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

.cityNameDiv>div>img {
    margin-top: 0;
    height: 100%;
    width: 100%;
}

.weatherDiv>p {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    background-color: rgba(179, 250, 255, 0.623);
    border-radius: 8px;

}

.sevenDayDiv {
    width: 100%;
    height: 250px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;

}

.sevenDayDiv>div {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: rgba(179, 250, 255, 0.623);
    border-radius: 8px;
}

.sevenDayDiv>div>div {
    margin: auto;
    margin-top: 0;
    width: 100%;
    height: 90px;


}

.sevenDayDiv>div>div>img {
    display: inline-block;
    width: 100%;
    height: 100%;


}

.sevenDayDiv>div>p {
    font-weight: bold;
    font-size: 20px;

}

#gmap_canvas {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}